@import "tailwindcss";


.nav{
    display: flex;
    justify-content: start;
}

.Wrapper{
    /* background-color: rgb(68, 167, 46); */
    display: flex;
    width: full;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-left: 0px;
    padding: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    position: relative;
    position: sticky;
}

.Wrapper ::-webkit-scrollbar{
    display: none;
}

.time{
    text-decoration:dotted;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    left: -50px;
    

}
h1{
    position: sticky;
    position: sticky;
    top: 10px; left:570px;
    font-family: sans-serif;
    font-size: x-large; 
    display: flex;
    justify-content: center;
    position: sticky;
}
.head{
    background-color: aqua;
    width: 300px;
    height: 50px;
    position: sticky;
    top: 10px; left:540px; 
    font-family: sans-serif;
    font-size: x-large; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:8px ;
    position: sticky;
}
.head{

}

.carousela{
    margin-left: 1141px;
    /* background-color: #f8f8ff; */
    /* background-color: rgb(167, 97, 233); */
    background-color: blueviolet;
    border-radius: 35px;
    padding: 9px;
    }

.carouselb{
    margin-left: 20px;
    background-color: blueviolet;
    border-radius: 35px;
    padding: 9px;
}

.carousel:first{
    cursor :pointer;
    margin-left: 2000px;
}

/* ************************************************* */
.Countdown-timer{
    box-shadow:  0px 0px 30px 0px  rgb(135, 64, 64);
    /* background-color: aqua; */
    background-color: whitesmoke;
    height: 29rem;
    width: 64rem;
    margin: 40px;
    

    overflow-y: auto;
    /* scrollbar-width: none; */
    /* position: relative;
    position: sticky;   */


}

.text{
    position: relative;
    top: 60px; left: 50px;
    font-size: x-large;
    font-family: sans-serif;
   
   

}
.value{
    position: relative;
    top: 60px; left: 80px;
    width: 700px;
    height: 0px;
    font-weight: bolder;
    border: 1px solid;
    border-radius: 10px;
    padding: 30px;
    
}
input[type="type"] {
    text-shadow: 1000cqmax pink;
    background-color: palevioletred;
}

#countdown{
    position: relative;
    top: 109px; left: 300px;
    font-weight: bolder;
    font-size: xx-large;
    height: 70px;
    width: 350px;
    /* background-color: burlywood; */
    /* padding: 16px 24px; */
    text-align: center;
    font-size:50px;
    font-weight: 600;

} 

#Restart{
    position: relative;
top: 170px; left: 500px;
/* position: absolute;
top: 450px; left: 700px; */
width: 135px;
font-size: xx-large;
border-radius: 15px;
border: 2px solid #1A1A1A;
box-sizing: border-box;
color: #FFFFFF;
/* background-color: black; */
background-color: rgb(81, 81, 223);
cursor: pointer;
display: inline-block;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 24px;
font-weight: 600;
line-height: normal;
margin: 0;
min-height: 60px;
min-width: 0;
outline: none;
padding: 16px 24px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select:none;
-webkit-user-select: none;
touch-action: manpiulation;
will-change: transform;
}
#Restart:disabled {
    pointer-events: none;
}
      
#Restart:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
      
#Restart:active {
    box-shadow: none;
    transform: translateY(0);
}
    
#save{
position: relative;
top: 170px; left: 260px;
/* position: absolute;
top: 450px; left: 700px; */
width: 135px;
font-size: xx-large;
border-radius: 15px;
border: 2px solid #1A1A1A;
box-sizing: border-box;
color: #FFFFFF;
/* background-color: black; */
background-color: rgb(81, 81, 223);
cursor: pointer;
display: inline-block;
font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
font-size: 24px;
font-weight: 600;
line-height: normal;
margin: 0;
min-height: 60px;
min-width: 0;
outline: none;
padding: 16px 24px;
text-align: center;
text-decoration: none;
transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
user-select:none;
-webkit-user-select: none;
touch-action: manpiulation;
will-change: transform;
} 

#save:disabled {
    pointer-events: none;
}
  
#save:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
  
#save:active {
    box-shadow: none;
    transform: translateY(0);
}


.savetiming{
    position: relative;
    margin-top: 190px;
    width: 900px;
    left: 70px; 
    height: 65px;
    font-size: xx-large;
    border-radius: 15px;
}


#selecttimer{
    position: absolute;
    top: 250px;
    right:480px;
    width: 199px;
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    background: rgb(229, 94, 94);
    border-radius: 40px;
}