@import "tailwindcss";



.Wrapper{
    /* background-color: rgb(68, 167, 46); */
    display: flex;
    width: full;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    margin-left: 0px;
    padding: 20px;
    overflow-x: auto;
    scrollbar-width: none;
    position: relative;
    position: sticky;
}

.Wrapper ::-webkit-scrollbar{
    display: none;
}

.time{
    text-decoration:dotted;
    font-size: xx-large;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    

}
h1{
    position: sticky;
    top: 10px; left:570px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large; 
    display: flex;
    justify-content: center;
    position: sticky;
}


.carousela{
    margin-left: 1141px;
    /* background-color: #f8f8ff; */
    background-color: blueviolet;
    border-radius: 35px;
    padding: 9px;
}

.carouselb{
    margin-left: 20px;
    background-color: blueviolet;
    border-radius: 35px;
    padding: 9px;
}

.carousel:first{
    cursor :pointer;
    margin-left: 2000px;
}

/* ************************************************* */
.Countdown-timer{
    box-shadow:  0px 0px 30px 0px  rgb(135, 64, 64);
    /* background-color: aqua; */
    background-color: whitesmoke;
    height: 29rem;
    width: 64rem;
    margin: 40px;


}

.text{
    position: absolute;
    top: 120px; left: 170px;
    font-size: x-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: x-large; 
    /* position: relative; */
    /* height: 350px; */
    /* margin-top: 60px; */
    /* width: 520px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center; */
    /* font-weight: 400;
    font-size: xS-large; */

}
.value{
    position: absolute;
    top: 120px; left: 700px;
    font-weight: 400;
    font-weight: bolder;
    background-color: rosybrown;
    border-radius: 20px;
    padding: 30px;
    
}
input[type="type"] {
    text-shadow: 1000cqmax pink;
    background-color: palevioletred;
}

#countdown{
    position: absolute;
    top:270px;
     /* top: 50px; left: 9px; */
    font-weight: bolder;
    font-size: xx-large;
    height: 70px;
    width: 150px;
    background-color: burlywood;

    /* margin-top: -7%;
    margin-left: 20%; */
    /*height: 70px;
    width: 120px;
    display: row;
    align-items: center;
    justify-content: center;
    font-size: xx-large; */
} 

.save{
position: absolute;
/* top: 40px; left: 40px; */
left: 100px;
font-size: x-large;
background-color: red;
} 

/* #taming{
    height: 0%;
    
    justify-content: center;
    
} */

#timesave{
background-color: pink;
/* display: flex; */
/* display: inline; */
}


#selcettimer{


}




/********************************************
 .carousel{
    /* white-space: nowrap;
    background-color: blueviolet;
    height: 35rem;
    width: 93rem;
    margin:54px;
    border-radius: 35px;
    margin-left: 10px; */

    /* position: relative; */


    /* padding:4px;
    margin: 5px;
    width: 900px;
    display: flex; */
    /* justify-content: center;
    align-items: center; */

    /* display: flex;
    justify-content: center;
    align-items: center; 
}
    */